<!DOCTYPE html>
<html>

<head>
	<meta content="en-us" http-equiv="Content-Language">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Untitled 1</title>
	<style type="text/css">
		.auto-style1 {
			text-align: right;
			font-size: medium;
		}

		.auto-style2 {
			font-size: medium;
		}

		.auto-style3 {
			color: #FFFFFF;
			border-style: solid;
			border-width: 1px;
			background-color: #216BD7;
		}

		.auto-style6 {
			border-style: solid;
			border-width: 1px;
		}

		.auto-style7 {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}
	</style>
</head>

<body style="margin-left: 15px; margin-right: 15px" class="auto-style7">

	<div th:replace="header.html :: header">
	</div>
	<hr>

	<div style="display: flex;">
		<div style="width: 10%; display:inline-block; vertical-align: top; padding-right: 5px;"
			th:replace="user_options :: customer_options">
		</div>
		<div style="width: 90%;  display:inline-block; vertical-align: top;padding-left: 5px;">
			<table style="width: 100%" class="auto-style6">
				<form th:action="@{/Order/view}" method="get">
					<tr>
						<td class="auto-style3" colspan="5">Info</td>
					</tr>
					<tr>
						<td style="height: 14px">
							User:</td>
						<td style="height: 14px">
							<b><span th:text="${authUser}"></span></b></td>
						<td style="height: 14px">
							Order Status:</td>
						<td style="height: 14px">
							<select name="status">
								<option th:each="odstatus:${T(com.example.classicmodelsweb.model.OrderStatus).values()}" th:value="${odstatus}" th:text="${odstatus}" th:selected="${odstatus==status}">
								</option>
							</select>
						</td>
						<td style="height: 14px">
							<button type="submit">Filter</button>
						</td>
					</tr>
				</form>
			</table>
			<table style="width: 100%" class="auto-style6">
				<tr>
					<td class="auto-style3" colspan="7">Orders - <span th:if="${authRoles=='Customer'}"
							th:text="${authUser}"></span></td>
				</tr>
				<tr>
					<th class="auto-style6" style="height: 14px">
						OD Number</th>
					<th class="auto-style6" style="height: 14px">
						Date</th>
					<th class="auto-style6" style="height: 14px">
						Expected date</th>
					<th class="auto-style6" style="height: 14px">
						Shipped date</th>
					<th class="auto-style6" style="height: 14px">
						Status</th>
					<th class="auto-style6" style="height: 14px">
						Comments</th>
					<th class="auto-style6" style="height: 14px">
						Customer Info</th>
				</tr>
				<tr th:each="order:${orders}">
					<td class="auto-style6" style="height: 48px">
						<a th:href="@{/Order/viewDetail/{number}(number=${order.orderNumber})}"  th:text="${order.orderNumber}"></a>
					</td>
					<td class="auto-style6" style="height: 48px" th:text="${order.orderDate}">
						&nbsp;</td>
					<td class="auto-style6" style="height: 48px" th:text="${order.requiredDate}">
						&nbsp;</td>
					<td class="auto-style6" style="height: 48px" th:text="${order.shippedDate}">
						&nbsp;</td>
					<td class="auto-style6" style="height: 48px" th:text="${order.orderStatus}">
						&nbsp;</td>
					<td class="auto-style6" style="height: 48px" th:text="${order.comments}">
					</td>
					<td class="auto-style6" style="height: 48px"
						th:text="${order.customer.customerNumber}+'-'+${order.customer.customerName}">
					</td>
				</tr>
				<tr>
					<td class="auto-style6" style="height: 48px; " colspan="7">
						<a th:each="page:${pagination}" th:href="@{/Order/view(
								status=${status},
								page=${page},
								resPerPage=${resPerPage})}" th:text="${page}+' | '"></a>
						<b th:text="'(Total records: '+${totalRecords}+')'"></b>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>

</html>